.main__game-container {
    min-width: 1200px;
    min-height: 100vh;
    background-image: url("https://c.pxhere.com/photos/3a/33/controller_gamepad_gamer_technology_xbox-1392316.jpg!d");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    color: white;
}

.main__game {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    color: black;
}

.mainGameCard {
    width: 15%;
    height: 15%;
    background-image: url("https://cdn.pixabay.com/photo/2017/11/05/16/56/skull-2921085_1280.jpg");
    background-size: cover;
    background-position: center;
    border: 3px solid rgba($color: white, $alpha: 0.2);
    margin: 5px;
    font-size: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        box-shadow: -5px -5px 15px rgba($color: white, $alpha: 1);
    }
}

.newClass {
    // background: none;
    font-size: 30px;
    color: white;

}

.winnerPanel {
    font-size: 40px;
    color: rgba($color: white, $alpha: 0.8);
    margin-top: 100px;
    text-align: center;
}