.main__game-container {
    min-width: 1200px;
    min-height: 598px;
    background-image: url("https://c.pxhere.com/photos/3a/33/controller_gamepad_gamer_technology_xbox-1392316.jpg!d");
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    color: white;
}

.main__game {
    display: flex;
    flex-wrap: wrap;
    min-height: 20vh;
    min-width: 100vh;
}

.mainGameCard {
    width: 15%;
    max-width: 15%;
    flex-grow: 1;
    max-height: 20%;
    background: black;
    border: 3px solid rgba($color: white, $alpha: 0.2);
    margin: 5px;
    font-size: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        box-shadow: -5px -5px 15px rgba($color: white, $alpha: 1);
    }
}

.newClass {
    background: none;
    font-size: 30px;
    color: white
}

.winnerPanel {
    font-size: 40px;
    color: rgba($color: white, $alpha: 0.8);
    margin-top: 100px;
    text-align: center;
}