.main {
    min-width: 1200px;
    min-height: 800px;
    background-image: url("https://c.pxhere.com/photos/3a/33/controller_gamepad_gamer_technology_xbox-1392316.jpg!d");
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
}

.main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.main__btn-decoration {
    text-decoration: none;
    color: rgba(white, $alpha: 0.6);
    font-size: 40px;
    margin: 30px;
    background: none;
    border-radius: 5px;
    border: 1px solid rgba(white, $alpha: 0.5);
    padding: 5px;
    cursor: pointer;
}