.header {
    min-width: 400px;
    min-height: 100px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(20, 98, 89, 1) 53%, rgba(60, 9, 148, 1) 100%);
    background-size: contain;
    color: white;
}


// background-image: url('https://c.pxhere.com/photos/3a/33/controller_gamepad_gamer_technology_xbox-1392316.jpg!d');